<!-- templates/fragment/header.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- (필요하면 CSS 등 포함) -->
</head>
<body>
<!-- templates/fragment/header.html -->
<div th:fragment="header">
    <div class="navbar">
        <div class="user-info" th:if="${username}">
            <a th:text="${username} + '님 안녕하세요!'" th:href="@{/user/modify}"></a>
            <form th:action="@{/logout}" method="post" style="display:inline;">
                <button class="logout-btn" type="submit">로그아웃</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
