<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MemberMapper">

    <insert id="save" parameterType="com.example.demo.dto.MemberDTO">
        Insert into user (userid, userpass, username, useremail)
        values (#{userid}, #{userpass}, #{username}, #{useremail})
    </insert>

    <select id="findUserById" parameterType="com.example.demo.dto.MemberDTO">
        SELECT id, userid, userpass, username, useremail
        FROM user
        WHERE userid = #{userid}
    </select>

    <update id="updatePassword" parameterType="com.example.demo.dto.MemberDTO">
        UPDATE user SET userpass = #{userpass} WHERE userid = #{userid}
    </update>

    <select id="findUsernamesByPartial" resultType="string" parameterType="string">
        SELECT username FROM user WHERE username LIKE CONCAT('%', #{query}, '%') LIMIT 20
    </select>

    <select id="findUserByUsername" parameterType="String" resultType="com.example.demo.dto.MemberDTO">
        SELECT *
        FROM user
        WHERE username = #{username}
        LIMIT 1
    </select>

    <select id="findFriendUsernames" parameterType="string" resultType="com.example.demo.dto.FriendInfoDTO">
        SELECT
        CASE
        WHEN f.sender = #{username} THEN f.receiver
        ELSE f.sender
        END AS friendname,
        CASE
        WHEN f.sender = #{username} THEN m2.userid
        ELSE m1.userid
        END AS friendid
        FROM friend f
        JOIN user m1 ON f.sender = m1.username
        JOIN user m2 ON f.receiver = m2.username
        WHERE (f.sender = #{username} OR f.receiver = #{username})
        AND f.receiver_accept = 1
    </select>


</mapper>